ion-grid {
    padding: 10px 0;
}

h6 {
    margin: auto;
    font-size: 12px;
}

.date {
    text-align: end;
}

p {
    font-size: 11px;
    margin: auto;
}


ion-item.active {
    --background: #efefef;

    h6 {
        color: #11346D;
        font-weight: 600;
    }
}