<ion-header>
  <ion-toolbar>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="no-data-msg" *ngIf=" no_data">
    <span> No notification(s) found </span>
  </div>

  <ion-list>
    <ion-item lines="full" *ngFor="let notification of notificationsdata">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <h6>Order Id : {{notification.orderId}}</h6>
          </ion-col>
          <ion-col size="6">
            <p class="date">Date : {{notification.date}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>{{notification.title}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>