<ion-header>
  <ion-toolbar>
    <ion-title>Schedule Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="detail-col">
        <div>
          Name : Rajesh Malik
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-col">
        <div>
          Mobile number : +91 12354 45872
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="detail-col">
        <div>
          Email id : sample@gmail.com
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="schedule-row">
      <ion-col>
        <div>Schedule :</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="date-col">
        <ion-datetime presentation="time-date" placeholder="Preferred Date"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="date-col">
        <ion-datetime displayFormat="hh:mm A" placeholder="Preferred Time"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col class="button-col">
        <div>
          <ion-button class="button" color="themepurple" expand="block">SUBMIT</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>