<ion-header>
  <ion-toolbar>
    <ion-title> Select Categories </ion-title>
    <a class="done" (click)="Back()">Done </a>
  </ion-toolbar>


</ion-header>

<ion-content>



  <ion-searchbar showCancelButton="never" (input)="SearchByName($event.target)"></ion-searchbar>



  <div class="wrapper">




    <ul>
      <li *ngFor="let category of CategoryData; let i=index;">
        <input type="checkbox" id="list-item-{{i}}" class="subcat-inputs">

        <input type="checkbox" id="list-selectall-{{i}}" class="select-all-check"
          (click)="SelectAllSubcats(i, $event.target)" checked="checked" *ngIf="category.selected">

        <input type="checkbox" id="list-selectall-{{i}}" class="select-all-check"
          (click)="SelectAllSubcats(i, $event.target)" *ngIf="!category.selected">


        <label for="list-item-{{i}}" class="first">
          <ion-icon name="caret-down-outline"></ion-icon> {{category.subCateName}}
        </label>
        <ul *ngFor="let subcategory of category.serviceDetails">


          <li class="subcategorylist">
            <ion-item>
              <ion-label> {{subcategory.name}} {{subcategory.selected}} </ion-label>
              <ion-checkbox *ngIf="!subcategory.selected" slot="end" (click)="SelectCategory(subcategory)"
                class="subcat-checkbox-{{i}}">
              </ion-checkbox>

              <ion-checkbox checked="checked" *ngIf="subcategory.selected" slot="end"
                (click)="SelectCategory(subcategory)" class="subcat-checkbox-{{i}}">
              </ion-checkbox>
            </ion-item>
          </li>


        </ul>
      </li>
    </ul>
  </div>



</ion-content>