<ion-header>
  <ion-toolbar>
    <ion-title>Job Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h3 class="page-title">{{JobDetails.title}}</h3>
          <p class="order-id">Order Id : {{JobId}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h6 class="date">{{ apiService.formatDate(JobDetails.date)}}</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="img-div">
          <ion-img [src]="JobDetails.url"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <p class="detail-content">
            {{JobDetails.detail}}
          </p>

        </div>

      </ion-col>
    </ion-row>


    <ion-row *ngIf="JobDetails.status!=0">
      <ion-col>
        <div>
          <h5 class="address-tag">Customer Name :</h5>
        </div>
        <div>
          <h6 class="address nomargin">
            {{JobDetails.customerName}}
          </h6>
        </div>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="JobDetails.status!=0">
      <ion-col>
        <div>
          <h5 class="address-tag">Customer Contact Number :</h5>
        </div>
        <div>
          <h6 class="address nomargin">
            {{JobDetails.mobile}}
          </h6>
        </div>

      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div>
          <h5 class="address-tag">Address :</h5>
        </div>
        <div>
          <h6 class="address nomargin">
            {{JobDetails.address}}
          </h6>
        </div>
        <!-- <div>
          <p class="detail-content">
            Accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet Sampler.
          </p>
        </div> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button expand="block" color="themepurple" (click)="AcceptJob()">ACCEPT</ion-button>
        </div>
      </ion-col>
      <!-- <ion-col>
        <div>
          <ion-button expand="block" color="themeoutlinepurple">DECLINE</ion-button>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>