<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #regForm="ngForm" (ngSubmit)="UpdateProNow(regForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col class="detail-col">
          <div class="name">
            Name : {{myDetails.name}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="detail-col">
          <div>
            Mobile Number : {{myDetails.mobile}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="detail-col">
          <div>
            Email Id : {{myDetails.emailId}}
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="trainingData==false">
        <ion-row class="schedule-row">
          <ion-col>
            <div>Schedule :</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="date-col">
            <ion-datetime required presentation="time-date" placeholder="Preferred Date" ngModel name="date">
            </ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="date-col">
            <ion-datetime displayFormat="hh:mm" placeholder="Preferred Time" ngModel name="time"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row class="button-row">
          <ion-col class="button-col">
            <div>
              <ion-button [disabled]="!regForm.valid" class="button" color="themepurple" expand="block" type="submit">
                SUBMIT</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="trainingData==true" class="schedule-div">
        <div class="warning-box">
          <ion-row class="training-detail">
            <ion-col>
              <div>Your training is scheduled on :-</div>
              <div>
                Date : {{trainingDetails.date}}
              </div>
              <div>
                Time : {{trainingDetails.time}}
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </form>

</ion-content>