<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="no-data-msg" *ngIf=" no_data">
    <span> No review(s) found </span>
  </div>

  <ion-list>
    <ion-item lines="full" *ngFor="let reviews of reviewdata">
      <ion-label>
        <h6>{{reviews.name}}</h6>
        <div>
          <ion-icon *ngFor="let item of [].constructor(reviews.ratings)" name="star">
          </ion-icon>
        </div>
        <p class="ion-text-wrap">{{reviews.review}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>