<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-item lines="full" *ngFor="let reviews of reviewdata">
      <ion-label>
        <h3>{{reviews.name}}</h3>
        <div>

          <ion-icon style="color: #f7c704;" *ngFor="let item of [].constructor(reviews.ratings)" name="star">
          </ion-icon>
        </div>
        <p class="ion-text-wrap">{{reviews.review}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>