<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col col-6>
        <ion-title>
          <img class="header-logo" src="assets/imgs/Icon.png">
          <span class="header-name"> Home </span>
        </ion-title>
      </ion-col>
      <ion-col col-6 class="text-right status-user">
        <a *ngIf="apiService.Get_UserStatus() == 'InActive' ">
          <ion-icon name="ellipse" class="status-inactive"> </ion-icon> InActive
        </a>
        <a *ngIf="apiService.Get_UserStatus() == 'Active' ">
          <ion-icon name="ellipse" class="status-active"> </ion-icon> Active
        </a>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="middle-content" *ngIf="DashboardMsg">
    <p class="input-content"> {{DashboardMsg}} </p>
  </div>

  <div class="jobs-list">
    <p class="heading-section" *ngIf="upcoming.length!=0">Upcoming Jobs Request</p>

    <ion-row>
      <ion-col size="6" *ngFor="let upcomingjobs of upcoming">
        <ion-card (click)="JobDetails(upcomingjobs)">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="briefcase-outline"></ion-icon> {{upcomingjobs.title}}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p class="small-font">{{upcomingjobs.requirement | slice:0:50}} </p>
            <p class="small-font pref-date">Service Date: {{apiService.formatDateYMD( upcomingjobs.date)}} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <p class="heading-section" *ngIf="today.length!=0">Today Jobs Request</p>


    <ion-row>
      <ion-col size="6" *ngFor="let todayjobs of today">
        <ion-card (click)="JobDetails(todayjobs)">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="briefcase-outline"></ion-icon> {{todayjobs.title}}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p class="small-font">{{todayjobs.requirement | slice:0:50}} </p>
            <p class="small-font pref-date">Service Date: {{ apiService.formatDateYMD(todayjobs.date)}} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <p class="heading-section" *ngIf="category.length!=0">Jobs Near You</p>


    <ion-row>
      <ion-col size="6" *ngFor="let categoryjobs of category">
        <ion-card (click)="JobDetails(categoryjobs)">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="briefcase-outline"></ion-icon> {{categoryjobs.title}}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p class="small-font">{{categoryjobs.requirement | slice:0:50}} </p>
            <p class="small-font pref-date">Service Date: {{apiService.formatDateYMD(categoryjobs.date)}} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>




  </div>






</ion-content>