ion-card {
    box-shadow: none;
    border: 1px solid #561d5e
}

ion-card-header {
    padding: 7px 21px;
    font-weight: bolder;
}

ion-card-title {
    font-size: 14px;
}

ion-card-content {
    font-size: 11px;
}

.color-theme {
    color: #561d5e;
}

.status-txt {
    font-size: 9px;
}


.text-detail {
    font-size: 10px;
}