ion-item {
    border: 1px solid #909090;
    border-radius: 5px;
    margin: 10px;
}

ion-grid {
    border-bottom: 1px solid #909090;
    margin-bottom: 15px;
    padding: 0;
}

.q-tag {
    padding: 5px 0;
}

h2 {
    margin-bottom: 10px;
}

div {
    font-size: 12px;
}
