.form-section {
    margin: 10px 20px;
}

.form-section ion-item {
    border: 2px solid #ededed;
    border-radius: 10px;

    color: #561d5e;

    margin-bottom: 15px;

}

.cert-img {
    margin: 35px auto;
    max-height: 200px;
}

.camera-icon {
    font-size: 100px;
    margin: 35px auto;
}