.form-section {
    margin: 10px 20px;
}

.form-section ion-item {
    border: 2px solid #ededed;
    border-radius: 10px;

    color: #11346D;

    margin-bottom: 15px;

}


.cat-selection-list{
    font-size: 13px;
    margin-top: 25px;
}