<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="apiService.Get_ProviderId()">Update Personal Details</ion-title>
    <ion-title *ngIf="!apiService.Get_ProviderId()">Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-section">

    <form #regForm="ngForm" (ngSubmit)="RegisterNow(regForm.value)">

      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="ProviderData.name" type="text" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input email type="email" [(ngModel)]="ProviderData.emailId" name="emailId" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input [disabled]="apiService.Get_ProviderId()" type="tel" maxlength="10" maxlength="10"
          [(ngModel)]="ProviderData.mobile" name="mobile" required>
        </ion-input>
      </ion-item>

      <ion-item *ngIf="States.length!=0">
        <ion-label position="floating">State</ion-label>
        <ion-select type="text" [(ngModel)]="ProviderData.stateId" name="stateId" (ionChange)="GetCitis($event.target)"
          required>
          <ion-select-option [value]="state.id" *ngFor="let state of States">
            {{state.name}} </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="Cities.length!=0">
        <ion-label position="floating">City</ion-label>
        <ion-select type="text" [(ngModel)]="ProviderData.cityId" name="cityId" required>
          <ion-select-option [value]="city.id" *ngFor="let city of Cities">{{city.city}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="ShowCategories()">
        <ion-label position="floating">Category</ion-label>
        <p> <span *ngFor="let cats of SelectedCategories"> {{cats.name}}, </span> </p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Current Address</ion-label>
        <ion-input type="text" [(ngModel)]="ProviderData.address" name="address" required></ion-input>
      </ion-item>

      <br>
      <ion-button [disabled]="!regForm.valid" type="submit" class="theme-btn" expand="block">Submit
      </ion-button>

    </form>

  </div>

</ion-content>