ion-avatar {
    width: 70px;
    height: 70px;
}

.color-theme {
    color: #561d5e;
    font-size: 12px;
    font-weight: 500;
}

.menu-label {}


.menu-rows {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}